<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AndrysekWeatherApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DAA9DA81C7520A100A725FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAA9DBC1C7520A200A725FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAA9DC71C7520A200A725FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
